<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" th:href="@{/home}"><i class="fa fa-graduation-cap"></i>SKS School
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <!--this sec:authorize="isAnonymous() means this will show for anonymous users means
                    not logged in. But Below we used isAuthenticated() for Dashboard and Logout means
                    those will show after logged in. This came from thymeleaf-extra-spring-security6 pom.xml
                    and above added in xmlns:sec"-->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                       <!-- <a class="nav-link active" aria-current="page" href="home.html">Home</a> -->
                        <a th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a th:href="@{/courses}">Courses</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <!-- <a class="nav-link" href="contact.html">Contact</a> -->
                        <a th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
                <!-- search-right -->
                <div class="header-search position-relative">
                    <div class="search-right mx-lg-2">
                        <a href="#search" class="btn search-btn p-0" title="search">
                            <i class="fas fa-search"></i></a>
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <form action="#search" method="GET" class="search-box">
                                    <input type="search" placeholder="Enter Keyword..." name="search"
                                           required="required" autofocus="">
                                    <button type="submit" class="btn"><span class="fas fa-search"
                                                                            aria-hidden="true"></span></button>
                                </form>
                            </div>
                            <a class="close" href="#close">×</a>
                        </div>
                        <!-- //search popup -->
                    </div>
                </div>
                <!--//search-right-->
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!-- //header -->
</body>
</html>